<section class="detail">
  <h2 class="section-title">サービスの内容</h2>

  <div class="item wrapper-1080">
    <div class="img">
      <%= image_tag "service/detail.png", alt: "サービスイメージ" %>
    </div>
    <div class="text">
      <p class="title">ダブルスのオーダー作成をサポート</p>
      <p class="description">
        参加状況やレベルに応じて、バドミントン/テニスのダブルス組み合わせを自動提案します。
      </p>
    </div>
  </div>
</section>
