<section class="detail">
  <h2 class="section-title">サービスの内容</h2>

  <div class="item wrapper-1080">
    <div class="img">
      <%= image_tag "service/detail.svg", alt: "" %>
    </div>

    <div class="text">
      <p class="title">Webサイトを実際に制作</p>
      <p class="description">
        実際にWebサイトを制作しながら、制作の流れや進め方について学びます。<br>
        制作する中で必要なスキルがすべて学べるようなWebサイトになっています。<br>
        不明点はいつでも質問できるので、最後まで挫折することなく作りきることができます。
      </p>
    </div>
  </div>
</section>
